# Desactivar el listado de directorios por seguridad
Options -Indexes

<Files .env>
    Order allow,deny
    Deny from all
</Files>
<Files conexion.php>
    Order allow,deny
    Deny from all
</Files>